<section>
  <img src="logo.jpg" alt="logo" class="logo">
</section>

<section>
  <form action="show" class="ui form">
    <div class="field">
      <label>Марка автомобиля</label>
      <select id="brand" class="ui dropdown">
        <%= @brands.each do |brand| %>
          <option value="<%= brand.id %>"><%= brand.name %></option>
        <% end %>
      </select>
    </div>

    <div class="field">
      <label>Модель автомобиля</label>
      <select id="model" name="model_id" class="dropdown"></select>
    </div>

    <div class="field">
      <label>Код ошибки</label>
      <input id="code" type="text" name="code" placeholder="p0301">
    </div>

    <button type="submit" class="ui button">Найти</button>
  </form>
</section>
